<%- include('../includes/head.ejs') %>

<div class="postd-div">
	<h1 class='test4'> <span>Year</span> <%= post.year %> </h1>
	<h1 class="test1D"> DAY <%= post.day %> </h1>


	<div class='content'>
		<h1 class='pdh1'>
			<span><%= post.title %></span>
		</h1>
		<div class='text'>
			<p class="pp1">
				<%= post.description %>
			</p>


		</div>
	</div>

</div>



<%- include('../includes/end.ejs') %>
